.wrapper {
  height: 100%;
  font-size: 0.875rem;
  color: #2e3650 !important;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  box-shadow: none;
  border: solid 1.5px transparent;
  margin-top: 0;
  margin-bottom: 0;
}
.wrapper:focus-within {
  background-color: white;
  box-shadow: 0 0 0 0.2rem rgb(46, 54, 80, 50%);
}
.wrapper select {
  /* height: 25px; */
  color: #2e3650;
  border: none;
  width: 100%;
  background-color: transparent;
  text-align-last: center;
  font-size: 0.875rem;
  background-position: right 0.05rem center;
  padding: 0;
  /* padding-right: 1rem; */

  /* padding-left: 0.5rem;
  padding-right: 1rem; */
}
.wrapper select:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.wrapper select:focus-visible {
  outline: none;
}
.wrapper .dummy {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  white-space: nowrap;

  min-height: 25px;
  visibility: visible;
  height: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.wrapper.wrapper-editable {
  border: 1.5px solid rgb(46, 54, 80, 100%);
  width: 100%;
}
.wrapper.wrapper-editable.valid {
  border: 1.5px solid rgb(5, 166, 119, 100%);
}
.wrapper.wrapper-editable.invalid {
  border: 1.5px solid rgb(250, 82, 82, 100%);
}

.wrapper.wrapper-editable.valid:focus-within {
  border: 1.5px solid rgb(5, 166, 119, 50%);
  box-shadow: 0 0 0 0.2rem rgb(5, 166, 119, 50%);
}
.wrapper.wrapper-editable.invalid:focus-within {
  border: 1.5px solid rgb(250, 82, 82, 50%);
  box-shadow: 0 0 0 0.2rem rgb(250, 82, 82, 50%);
}

.wrapper.wrapper-editable .dummy {
  min-height: 0;
  visibility: hidden;
  height: 0;
  white-space: none !important;
}

.wrapper.wrapper-editable .dummy.dummy-visible {
  min-height: 25px;
  visibility: visible;
  height: auto;
  background-image: none;
}
.wrapper textarea {
  min-width: 20px;
  background-color: transparent;
  border: none;
  text-align: center;
  resize: none;
  vertical-align: bottom;
  padding: 0;
  overflow: hidden;
  color: #2e3650;
}
.wrapper.wrapper-editable textarea {
  /* width: fit-content; */
  /* width: fit-content; */
  /* background-color: red; */
}
.wrapper textarea:focus-visible {
  outline: 0;
}

.wrapper textarea :focus {
  outline: none;
}
.text-container {
  /* width: fit-content; */
  min-height: 25px;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: red; */
  /* padding-left: 0.5rem;
  padding-right: 0.5rem; */
}
.measurement {
  display: flex;
  align-items: center;
  padding-left: 0.25rem;
}
.wrapper.wrapper-editable .editable-container {
  height: inherit;
  width: 100%;
  visibility: visible;
  position: inherit;
  top: inherit;
  left: inherit;
}
.wrapper .editable-container {
  height: 0px;
  /* width: 0px; */
  width: 100%;
  visibility: hidden;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
}
.img-container {
  background-position-y: center;
  background-position-x: left;
  background-repeat: no-repeat;
  background-size: calc(0.15em + 1rem) calc(0.55em + 0.8rem);
}
.wrapper.wrapper-editable.invalid .img-container {
  padding: 0;
}
.wrapper.wrapper-editable.valid .img-container {
  padding: 0;
}
.wrapper.invalid .img-container {
  padding-right: 1.3rem;
}
.text-span {
  line-height: 21px;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper:hover .text-span {
  overflow-x: unset;
  overflow-y: hidden;
  overflow-x: visible;
  text-overflow: inherit;

  margin-top: 0;
  margin-bottom: 0;
}

.text-flex {
  display: flex;
  min-width: 0px;
  align-items: center;
  height: 25px;
}
.wrapper.wrapper-editable .text-flex {
  height: auto;
}
.wrapper .editable-container textarea {
  visibility: hidden;
}
.wrapper .editable-container select {
  visibility: hidden;
}
.wrapper.wrapper-editable .editable-container textarea {
  visibility: visible;
}
.wrapper.wrapper-editable .editable-container select {
  visibility: visible;
}
.overflowX-hidden {
  overflow-x: hidden;
}
.overflowY-hidden {
  overflow-y: hidden;
}
.table-responsive {
  overflow-y: hidden;
}
.checkbox input {
  cursor: pointer;
  margin-top: 0;
}
.checkbox {
  display: flex;
  justify-content: center;
}
.shadow-button-none button {
  box-shadow: 0 !important;
}
.shadow-button-none button {
  box-shadow: 0 !important;
}
.revertio button:hover {
  background-color: rgba(46, 54, 80, 0.1);
}
.truncate-hovered-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.truncate-hovered-overflow:hover {
  overflow: auto;
  text-overflow: inherit;
  white-space: inherit;
}
.measurement {
  font-size: 0.875rem;
  color: "#2E3650" !important;
}
.text-input-group {
  display: flex;
  flex-wrap: nowrap;
  border: 0.1em solid rgb(46, 54, 80, 100%);
  border-radius: 0.5em;
  align-items: center;
  flex: 1 1 auto !important;
}
.text-input-group .wrapper {
  border: none !important;
}
.text-input-group.measured .wrapper {
  border-right: 1.5px solid rgb(46, 54, 80, 100%) !important;
}
.text-input-group:focus-within {
  border-radius: 0.5em;
  box-shadow: 0 0 0 2.5px rgb(46, 54, 80, 70%);
}
.text-input-group .wrapper:focus-within {
  background-color: transparent;
  box-shadow: none;
}
.text-input-group .wrapper:focus-within {
  background-color: transparent;
  box-shadow: none;
}
.text-input-group .wrapper.valid:focus-within {
  background-color: transparent;
  box-shadow: none;
}
.text-input-group .wrapper.invalid:focus-within {
  background-color: transparent;
  box-shadow: none;
}

/* .myprimary-bg {
  background-color: #253b43 !important;
  border-color: #17252a !important;
}
.my-secondary-bg .h4 {
  color: white;
}
.my-secondary-bg {
  background-color: #2b7a78 !important;
  border-color: #2b7a78 !important;
}

.my-nav-link {
  background-color: transparent !important;
  border-color: transparent !important;
}
.my-nav-link:hover {
  background-color: #2b7a78 !important;
  border-color: #2b7a78 !important;
} */

/* .primary-btn {
  background-color: #2b7a78 !important;
  border-color: #2b7a78 !important;
}
.primary-btn:hover {
  background-color: #215d5b !important;
  border-color: #215d5b !important;
} */

.light {
  background-color: #f5f8fb;
}
.light-green {
  background-color: #f6fcfc;
}

.danger-btn {
  background-color: #2b7a78 !important;
  border-color: #2b7a78 !important;
}
.danger-btn:hover {
  background-color: #ff0000 !important;
  border-color: #ff0000 !important;
}
.text-input-group.measured .text-container {
  padding-left: 50px;
}
.timepicker {
  /* background-color: red; */
  max-height: 25px;
}
